@charset "utf-8";
/* CSS Document */

* { margin: 0; padding: 0; list-style: none; outline: none; word-wrap: break-word; border:none; }
* {
  box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0 none;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  
  /* 在X5新内核Blink中，在排版页面的时候，会主动对字体进行放大，会检测页面中的主字体，当某一块字体在我们的判定规则中，认为字号较小，并且是页面中的主要字体，就会采取主动放大的操作。然而这不是我们想要的，可以采取给最大高度解决 */
  max-height: 100000px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

em, strong {
  font-style: normal;
}

ul, ol, li {
  list-style: none;
}


body {font-size:0.26rem; /* 12÷10=1.2 */ font-family: "microsoft yahei","Arial", "Verdana", "sans-serif"; color:#464646;  font-weight:normal; background:#fff;  }
a{ text-decoration:none; color:#333;}
a:hover{ color:#F93; text-decoration: none;}

.main{ 
    position: relative;  width:100%; margin:0 auto;
    
}
.l{ float:left;}
.r{ float:right;}
.left{ text-align:left}
.right{ text-align:right;}



.btonav{ width:100%;  border-top:0.07rem solid #ebebeb; padding:0.10rem 0; overflow:hidden; position:fixed; bottom:0 ; left:0;  background:#fff; z-index:111111;}
.btonav ul li{ width:25%; float:left; text-align:center; padding-top:0.05rem;}
.btonav ul li .navpic{ width:0.64rem; height:0.64rem;
    border:1px solid #dadada;
    -webkit-border-radius: .32rem;
    -moz-border-radius: .32rem;
    border-radius: .32rem;
    margin:0 auto; }

.btonav ul li .navpic img{ padding-top:0.15rem; }
.btonav ul li a{ color:#7c7c7c; font-size:0.24rem}
.btonav ul li a>span{
    color:#7c7c7c; font-size:0.24rem
}
.btonav ul li a>.num{
    width:.4rem;
    height:.4rem;
    background: #ff6419;
    border: 1px solid #fff;
    border-radius: .2rem;
    position: absolute;
    top: .1rem;
    right:.4rem;
    color: #fff;
    line-height:.4rem;
    text-align: center;
    font-size:.24rem;
    /*padding-top:.04rem;*/
}
.btonpw1{width:0.25rem}
.btonpw2{width:0.3rem}
.btonpw3{width:0.37rem}


.footNav{
    width:100%;
    /*height:2.5rem;*/
    border-top:0.2rem solid #ebebeb;
    padding:0.25rem 0;
    overflow:hidden;
    position:fixed;
    bottom:0 ;
    left:0;
    background:#fff;
    z-index:111111;
}
.footNav ul li{
    width:25%;
    float:left;
    text-align:center;
    padding-top:0.125rem;
    position: relative;

}
.footNav ul li .navpic{
    width:1.6rem;
    height:1.6rem;
    border:1px solid #dadada;
    -webkit-border-radius: 1.6em;
    -moz-border-radius: 1.6em;
    border-radius: 1.6em;
    margin:0 auto;
}
.footNav ul li .navpic img{
    padding-top:0.375rem;
}
.footNav ul li a{
    color:#333;
    font-size:.425rem;
}
.footNav ul li a>div{
    font-size:.475rem;
    color: #7c7c7c;
}
.footNav ul li a>.num{
    width:1rem;
    height:1rem;
    background: #ff6419;
    border: 1px solid #fff;
    border-radius: .5rem;
    position: absolute;
    top:-.1rem;
    right:.7rem;
    color: #fff;
    line-height:.8rem;
    text-align: center;
    font-size:.6rem;
    padding-top:.1rem;
}
.footPic1{
    width:.625rem;
}
.footPic2{
    width:.75rem;
}
.footPic3{
    width:.9rem;
}
body{
    overflow-x: hidden;
    -webkit-overflow-scolling: touch;

}
/*---------------*/
